@use './mixins.scss' as mix;
@use './variables.scss' as var;

$headerIndex: 10;
$headerBorder: 1px solid #E6E7EC;
$headerHeight: 80px;
$headerNavbarGap: 16px;
$headerLinkShadow: 0px 4px 4px rgba(var.$black, 0.25);

.header {
  width: 100%;
  border: $headerBorder;
  background-color: var.$white;
  z-index: $headerIndex;
  @include mix.FCC;
  @include mix.position(fixed, 0, 0);
}

.wrapper {
  height: $headerHeight;
  @include mix.FCSB;
}

.logo {
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: $headerNavbarGap;
}

.navbar_link {
  text-decoration: none;
  display: flex;
  color: var.$darckGray;
  @include mix.openSanseFont(700, 16px, 20px, 0.16px);

  &:hover {
    .navbar_link_letter {
      text-shadow: $headerLinkShadow;
      -webkit-text-stroke: 1px var.$black;
    }
  }
}

.navbar_link_letter {
  transition: 
    text-stroke var.$TRANSITION_TIME_PRIMARY var.$TRANSITION_FUNCTION_PRIMARY, 
    text-shadow var.$TRANSITION_TIME_PRIMARY var.$TRANSITION_FUNCTION_PRIMARY;
}

.user {
  gap: 24px;
  @include mix.FCC;
}

.user_info {
  gap: 4px;
  @include mix.FCC;
}

.user_info_image {
  width: var.$SOCIAL_SIZE;
}

.user_info_name {
  color: #666666;
  @include mix.openSanseFont(700, 16px, 20px, 0.16px)
}