@use './mixins.scss' as mix;
@use './variables.scss' as var;

$headerIndex: 10;
$headerBorder: 1px solid #E6E7EC;
$headerHeight: 80px;
$headerNavbarGap: 16px;
$headerLinkShadow: 0px 4px 4px rgba(var.$black, 0.25);

.header {
  width: 100%;
  border: $headerBorder;
  background-color: var.$white;
  z-index: $headerIndex;
  @include mix.FCC;
  @include mix.position(fixed, 0, 0);
  padding: 0 16px;

}

.wrapper {
  height: $headerHeight;
  @include mix.FCSB;

  &:has(input:focus) {
    .navbar {
      transform: rotateX(0);
    }
  }
}

.logo {
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: $headerNavbarGap;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 81px;
    bottom: 0;
    width: 100%;
    height: fit-content;
    z-index: 10;
    background-color: var.$white;
    padding: 16px;
    border-bottom: $headerBorder;
    transform-origin: top center;
    transform: rotateX(90deg);
    transition: transform .5s ease-in-out;
  }
}

.navbar_link {
  text-decoration: none;
  display: flex;
  color: var.$darckGray;

  @include mix.openSanseFont(700, 16px, 20px, 0.16px);

  &:hover {
    .navbar_link_letter {
      text-shadow: $headerLinkShadow;
      -webkit-text-stroke: 1px var.$black;
    }
  }
}

.navbar_link__active {
  -webkit-text-stroke: 1px var.$black;
}

.navbar_link_letter {
  transition:
    text-stroke var.$TRANSITION_TIME_PRIMARY var.$TRANSITION_FUNCTION_PRIMARY,
    text-shadow var.$TRANSITION_TIME_PRIMARY var.$TRANSITION_FUNCTION_PRIMARY;
}

.user {
  gap: 24px;
  @include mix.FCC;
}

.user_info {
  gap: 4px;
  @include mix.FCC;
}

.user_info_image {
  width: var.$SOCIAL_SIZE;
}

.user_info_name {
  color: #666666;
  @include mix.openSanseFont(700, 16px, 20px, 0.16px)
}


.navbar_active__mobile-container {
  display: none;

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    min-height: 60px;
    position: relative;
    text-shadow: $headerLinkShadow;
    -webkit-text-stroke: 1px var.$black;
    &:has(input:focus) {
      &::after {
        clip-path: polygon(0 100%, 100% 100%, 50% 0);

      }
    }

    &::after {
      content: '';
      position: absolute;
      right: 16px;
      top: 50%;
      width: 16px;
      height: 16px;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      background-color: var.$gray;
      z-index: 1;
      transform: translate(0, -50%);
      transition: clip-path .5s ease-in-out;

    }
  }

}

.navbar_active__mobile {
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  caret-color: transparent;
  position: relative;
  z-index: 0;
  background-color: transparent;
  outline:none;
  cursor: pointer;

}