@use './mixins.scss' as mix;
@use './variables.scss' as var;

$helpBackgroundColor: #F4F6FD;
$helpPaddingContent: 64px 100px 70px;
$helpGreedWidth: 920px;
$helpGreedGap: 54px;
$helpImageHeight: 70px;
$helpCardTitltIndent: 14px;

.help {
  padding: $helpPaddingContent;
  background: $helpBackgroundColor;
  @include mix.FCCC;

}

.help_greed {
  margin: 70px auto;
  display: grid;
  gap: $helpGreedGap;
  width: $helpGreedWidth;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px) {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 32px;
  }
}

.help_card {
  @include mix.FCCC;
}

.help_card_svg-container {
  width: 100%;
  height: $helpImageHeight;
  @include mix.FCC;
}

.help_card_title {
  margin-bottom: $helpCardTitltIndent;
}
