@use './mixins.scss' as mix;
@use './variables.scss' as var;

$mainContainerPadding: 80px 16px;
$mainTopIndent: 80px;
$mainGap: 40px;
$mainButtonContentPadding: 20px 93.5px;

.main {
  padding: $mainContainerPadding;
  gap: $mainGap;
  margin-top: $mainTopIndent;

  @include mix.FCCC;
}

.main_button_size {
  padding: $mainButtonContentPadding;
}