@use './mixins.scss' as mix;
@use './variables.scss' as var;

$tabsButtonsGap: 16px;
$tabButtonsIndent: 32px;
$imageSlideWidrh: 507px;
$imageSlideHeight: 338px;
$imageSlideRadius: 32px;

.product {
  gap: 64px;
  @include mix.FCCC;
}

.tabs {
  width: 100%;
  @include mix.FCC;
}

.tabs_buttons__container {
  gap: $tabsButtonsGap;
  margin-bottom: $tabButtonsIndent;
  @include mix.FCC;
}

.tabs_buttons__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  background-color: transparent;
  border: none;
  border-radius: var.$BUTTON_RADIUS;
  color: var.$black;
  transition: 
    color var.$TRANSITION_TIME_PRIMARY var.$TRANSITION_FUNCTION_PRIMARY, 
    background-color var.$TRANSITION_TIME_PRIMARY var.$TRANSITION_FUNCTION_PRIMARY;

  @include mix.interFont(600, 18px, 18px);
}

.tabs_buttons__button-active {
  background-color: var.$blue;
  color: var.$white;
}

.tabs_info__container {
  position: relative;
  margin-bottom: 84px;
}

.tabs_info__slide {
  box-sizing: border-box;
  background: var.$white;
  border: 2px solid rgba(var.$black, 0.04);
  box-shadow: 0px 4px 12px rgba(var.$black, 0.12);
  border-radius: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 42px;
}

.tab_slide__info-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tab_slide__info-title {
  color: var.$black;
  @include mix.interFont(900, 60px, 60px);
}

.tab_slide__info-list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: rgba(var.$darckGray, 0.9);
  @include mix.interFont(400, 18px, 140%);
}

.tab_slide__info-list--item {
  position: relative;
  list-style-type: disc;
  max-width: 80%;
}


.tab_slide__image-container {
  width: $imageSlideWidrh;
  height: $imageSlideHeight;
  border-radius: $imageSlideRadius;
}

.slide_one {
  z-index: 0;
}

.slide_two {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 42px);
  width: 100%;
  scale: 0.95;
}

.slide_three {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 84px);
  width: 100%;
  scale: 0.9;
}