$black: #000000;
$white: #ffffff;
$blue: #0146FE;
$darckGray: #252525;
$gray: #666666;




$TITLE_COLOR_PRIMARY: $black;
$TITLE_COLOR_SECONDARY: $darckGray;

$SOCIAL_SIZE: 24px;
$SOCIAL_INDENT: 8px;

$TRANSITION_FUNCTION_PRIMARY: ease-in-out;
$TRANSITION_TIME_PRIMARY: .5s;

